body{
    background: url(../images/bg_0.png) no-repeat;
    background-size: cover;
    font-family: Georgia, serif;
    line-height: 1.8em;
    background-color: #f5f5d5;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-transition: All 2s ease;
    -moz-transition: All 2s ease;
    -o-transition: All 2s ease;
    -ms-transition: All 2s ease;
    transition: All 2s ease;
}

@media (min-width: 771px){
    body #container {
        min-width: 40%;
    }
}
div{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    border-bottom: none;
    font-weight: normal;
    font-style: normal;
    border: none;
    color: #111111;
}
#container{
    background-color: rgba(0,0,0,0.3);
    border-radius: 1.5em;
    color: #fefefe;
    overflow: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    max-height: 80%;
    min-width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: height 1s ease;
    transition: top 1s ease;
    overflow: hidden;
}

#header{
    border-bottom: 1px solid #d3d3d3;
    margin: 1em;
    float: left;
    height: 5em;
    width:100%;
}

#header-content {
    display: block;
    text-align: center;
    margin: auto;
}

 #container h1 {
    font-size: 2.4rem;
    line-height: 90%;
    color: #fefefe;
    float: none;
    margin: auto;
    padding-top: 0.4rem;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 1px 1px #333;
}

#container p, #container a {
    color: #fefefe;
    text-shadow: 0 1px 1px #333;
    text-decoration: none;
}

#container a:hover{
    text-decoration: underline;
}

#content{
    clear: both;
    margin: 1.5em 1em 1em 1em;
    width:100%;
    border-bottom: 1px solid #d3d3d3;
}

#content-inner{
    margin-top:0.5em;
    padding: 0 20px;
}

#footer {
    margin: 0 1em;
    color: #d3d3d3;
    padding-top: 0;
    clear: both;
    line-height: 1.2;
}

#footer-inner{
    padding:0 20px;
    text-align: right;
}

.footer{
    position: fixed;
    width: 100%;
    color:#333;
    bottom:15px;
}
.footer a{
    color: #999;
    text-decoration: none;
    font-family: initial;
}